{% extends "base.html" %}

{% block title %}
        {# super bedeutet erben aus der Eltern-Template "base.html" #}
        {{ block.super }} - {{ object.title }}
{% endblock title %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>Ergibt {{object.number_of_portions }} Portionen.</p>
    <h3>Zutaten</h3>
    {{ object.ingredients|linebreaks }}
    <h3>Zubereitung</h3>
    {{ object.preparation|linebreaks }}
    <a href="{% url "recipes_recipe_index" %}">Startseite </a>
{% endblock content%}