{% extends "base.html" %}

{% load i18n %}

{% block title %}
        {# super bedeutet erben aus der Eltern-Template "base.html" #}
        {{ block.super }} - {% trans Liste aller Rezepte %}
{% endblock title %}

{% block content %}
    <h2>{% trans Liste aller Rezepte %}</h2>
    <ul>
        {% for recipe in object_list %}
            <li><a href="{{ recipe.get_absolute_url}}">{{ recipe.title }}</a> </li>
            <li>Alternative<a href="{% url "recipes_recipe_detail" slug=recipe.slug %}">{{ recipe.title }}</a> </li>
        {% endfor recipe %}
    </ul>
{% endblock content%}